[submodule "redis"]
	path = redis
	url = git://github.com/tibbon/chef-redis.git
[submodule "postgresql"]
	path = postgresql
	url = git@github.com:tibbon/postgresql.git
[submodule "varnish"]
	path = varnish
	url = git://github.com/tibbon/varnish.git
